

{{ form_start(form)}}
    {{ form_widget(form, {'label': 'foo'}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    <a href="{{ path('app_publica_offre_new')}}">Annuler</a>
{{ form_end(form) }}

