{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="accueil">
		<div class="accueil__title-connect">
			<div class="accueil__title-connect__title">
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
			</div>
			<span class="bar"></span>
			<div class="accueil__title-connect__user">

				{% if app.user %}
					<div class="accueil__title-connect__user__photo">
						<img src={{ asset('uploads/images/photo_profiles/'~ app.user.photo) }} alt="photoUser">
					</div>

					<div class="accueil__title-connect__user__info">
						<h3 class="accueil__title-connect__user__info__item--nomPrenom">{{app.user.nom}}
							{{app.user.prenom}}</h3>

						<div class="accueil__title-connect__user__info__item--email">
                            <i class="fa-solid fa-envelope"></i>
							<h3>{{app.user.email}}</h3>
						</div>
						<div class="accueil__title-connect__user__info__item--phone">
                        <i class="fa-solid fa-phone"></i>
							<h3>{{app.user.telephone}}</h3>
						</div>
						<a href="{{ path('app_user_compte')}}">
							<button>Mon Compte</button>
						</a>
					</div>


				{% else %}
					<a href="{{ path('app_login')}}">
                        <button class="link__connect" class="accueil__title-connect__btn">Connexion</button>
                    </a>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}

{# ~ app.user.photo #}
