{% extends 'base.html.twig' %}

{% block title %}OffreUser index{% endblock %}

{% block body %}
    <h1>OffreUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCandidature</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre_user in offre_users %}
            <tr>
                <td>{{ offre_user.id }}</td>
                <td>{{ offre_user.dateCandidature ? offre_user.dateCandidature|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_offre_user_show', {'id': offre_user.id}) }}">show</a>
                    <a href="{{ path('app_offre_user_edit', {'id': offre_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_user_new') }}">Create new</a>
{% endblock %}
