

<twig:Publicaoffre/>





{#{ form_start(formPubli) }}
     {{ form_row(formPubli.intituler) }}
     {{ form_row(formPubli.description) }}
    
     {{ form_row(formPubli.lieu) }}
     {{ form_row(formPubli.typeContrat) }}
     {{ form_row(formPubli.duree) }}
      
    {{ form_row(formPubli.category) }}
    
    <turbo-frame id= "newCat"> 
     <a href="{{ path('app_category_new')}}">Ajouter une categorie</a>
     </turbo-frame>

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(formPubli) }#}



