{% extends 'base.html.twig' %}

{% block title %}Offres
{% endblock %}


{% block body %}
	<div class="offre">
    
		<div class="offre__search">
        <a href="{{ path('app_publica_offre_new') }}">Create new</a>
        </div>

		<div class="row row-cols-1 row-cols-md-3 g-4 offre__result">

			{% for publica_offre in publica_offres %}
				<div class="offre__result__item">
					<div class="card offre__result__item__card">
						<img src={{ asset('uploads/images/logo_entreprises/'~ publica_offre.user.entreprise.logo ) }} alt="" class="card-img-top" alt="">
						<div class="card offre__result__item__card__describ">
							<div class="offre__result__item__card__describ__txt">
								<h5 class="card-title">{{publica_offre.intituler}}</h5>
								<h5 class="card-title">{{publica_offre.datePublication ? publica_offre.datePublication|date('d.m.Y') : '' }}</h5>
								<p class="card-text">{{publica_offre.description}}</p>
							</div>
							<div class="offre__result__item__card__describ__btn">
								<a href="{{ path('app_publica_offre_show', {'id': publica_offre.id}) }}">
                                <button>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </button>
									
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>

			{# {% else %}
						<p colspan="8">no records found</p> #}
		{% endfor %}
	</div>


	
{% endblock %}
