{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <div class = "offreItem">

        <div class = "offreItem__entreprise">
        <h1>{{publica_offre.user.entreprise.nom}}</h1>
        <div class = "offreItem__entreprise--present">
            <p>{{publica_offre.user.entreprise.presentation}}</p>
        </div>
        
        </div>

        <div class = "offreItem__describ">
            <div class = "offreItem__describ--img">
                <img src={{ asset('uploads/images/logo_entreprises/'~ publica_offre.user.entreprise.logo ) }} alt="">
            </div>
            <div class = "offreItem__describ--txt">
                <h3 class = "offreItem__describ--txt__cat"><a href="">{{publica_offre.category.nom}}</a></h3>
                <h2 class = "offreItem__describ--txt__intit">{{publica_offre.intituler}}</h2>
                <div class = "offreItem__describ--txt__descrip"><p>{{publica_offre.description}}</p></div>
                
                <div class = "offreItem__describ--txt__info">
                    <div class = "offreItem__describ--txt__info__lieu">
                        <div class = "offreItem__describ--txt__info__lieu--date"><i class="fa-solid fa-calendar-days"></i><p>
                         Publier le: <em>{{publica_offre.datePublication|date('d.m.Y')}} </em></p></div>
                        {% if publica_offre.dateModification %}
                        
                         <div class = "offreItem__describ--txt__info__lieu--dateModif"><i class="fa-regular fa-calendar-check"></i><p>  Modifier le: <em>{{ publica_offre.dateModification ? publica_offre.dateModification|date('d.m.Y') : '' }}</em></p></div>
                        {% endif %}
                       
                        <div class = "offreItem__describ--txt__info__lieu--lieu"><i class="fa-solid fa-file-signature"></i><p>  type de contrat: <em>{{publica_offre.typeContrat.nom}}</em></p></div>
                        <div class = "offreItem__describ--txt__info__lieu--type"><i class="fa-solid fa-location-dot"></i><p> Lieu: <em>{{publica_offre.lieu}}</em></p></div>
                    </div>
                    <div class = "offreItem__describ--txt__info__btn">

                    {% if is_granted('ROLE_CANDIDAT') %}
                         {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {# verification de l'etat de postullation  #}
                            {# verifier si l'utilisateur actuelle a deja postuller a cette offre et desactiver le boutton #}
                                <button type ="submit" class = "btnPst" {% if postule %}disabled="disabled"{% endif %}>Postuler</button>
                            {{ form_end(form) }}
                    {% endif %}
                    </div>
                    
                </div>
            </div>
                
            </div>
            <div class = "offreItem__btnEdit">

                <a href="{{ path('app_publica_offre_index') }}">Les offres</a>
                {% if is_granted('EDIT_OFFRE', publica_offre)%} 
                <a href="{{ path('app_publica_offre_edit', {'id': publica_offre.id}) }}">Modifier</a>
                    {{ include('publica_offre/_delete_form.html.twig') }}
                {% endif %}
            </div>
           
        </div>

         
    

 
{% endblock %}




{# <h1>PublicaOffre</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>type de contrat</th>
                <td>{{ publica_offre.typeContrat.nom }}</td>
            </tr>
            <tr>
                <th>Intituler</th>
                <td>{{ publica_offre.intituler }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ publica_offre.description }}</td>
            </tr>
            <tr>
                <th>DatePublication</th>
                <td>{{ publica_offre.datePublication ? publica_offre.datePublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateModification</th>
                <td>{{ publica_offre.dateModification ? publica_offre.dateModification|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ publica_offre.lieu }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ publica_offre.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_publica_offre_index') }}">back to list</a>

    <a href="{{ path('app_publica_offre_edit', {'id': publica_offre.id}) }}">edit</a> #}